@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
  padding: 0;
  margin: 0;
}

html, body, :global(#root){
  height: 100%;
}

input, button{
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input:focus, button:focus{
  outline: none;
}

a{
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

li{
  list-style: none;
}

:global(.circle){
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius:25px; 
  border:3px solid #9c9c9c;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

:global(.circle:hover){
  background-color: #9c9c9c;
}

:global(.app){
  font-family: Ubuntu;
  color: #eee;
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-template-areas: 
  "logo header"
  "aside main";
}

:global(.logo){
  display: flex;
  align-items: center;
  padding-left: 25%; 
  background-color: #282828;
  grid-area: logo;
}

:global(.logo) i{
  margin-right: .5rem;
}


:global(.main){
  padding: 50px 35px 0 35px;
  background-color: #1c1c1c;
  grid-area: main;
}
 