.aside{
    padding: 10px;
    background-color: #363636;
    grid-area: aside;
  }

  .menu{

  }

  .menu > .item > a{
    display: block;
    cursor: pointer;
    padding: 1rem;
    color: inherit;
  }

  .menu > .item i{
    margin-right: .5rem;
  }

  .menu > .item > a:hover{
    background: linear-gradient(90deg, #f4566c, #f193fa);
  }

  .active {
    background: linear-gradient(90deg, #f4566c, #f193fa);
  }

  .dropdown{
    margin: 5px 0;
  }
  .dropdown > .item{

    font-size: .875rem;
    margin-bottom: 5px;
    margin-left: 30px;
  }

  .dropdown > .item a {
    color: #9d9d9d;
  }
